  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  
  #main2 {
    width: 100%;
    overflow-x: hidden;
  }
  #home {
    /* margin-top: 100%; */
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  canvas {
    max-width: 100vw;
    max-height: 100vh;
  }
  
  .txt-home {
    position: absolute;
    top: 290.5%;
    right: 0;
    padding-left: 5vw;
    width: 50%;
    height: 100%;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.472);
    backdrop-filter: blur(4px);
  }
  
  .h-container {
    overflow: hidden;
    width: 100%;
    height: 10vw;
    font-weight: 500;
  }
  .h-container:nth-child(1) {
    margin-top: 15vw;
    margin-left: -21vw;
    width: 75%;
  }
  .h-container:nth-child(2) {
    margin-left: -2vw;
    width: 65%;
  }
  .h-container:nth-child(3) {
    margin-top: -10vw;
    margin-left: -20.5vw;
    width: 55%;
  }
  .txt-home h1 {
    font-size: 4vw;
  }
  
  #h-one {
    font-size: 8vw;
    font-family: "hotel";
  }
  #h-two {
    font-size: 2vw;
    font-family: "hotel";
  }
  #h-three {
    font-size: 1.1vw;
    letter-spacing: 0.1vw;
    font-family: Bellefair;
    font-weight: 100;
  }



  .red {
    height: 300px;
    width: 300px;
    background-color: rgb(77, 255, 1);
    position: absolute;
    top: 50%; /* Adjust according to your needs */
    left: -300px; /* Start position off-screen to the left */
    transform: translate(-100%, -50%); /* Adjust to ensure proper centering */
    opacity: 0;
    margin-top: 500px;
    transition: opacity 0.5s ease, left 0.5s ease;
  }
  
  .red.show {
    left: 50%; /* Move to the center */
    opacity: 1;
  }
  
  .red.hide {
    left: -300px; /* Move off-screen to the left */
    opacity: 0;
  }